$yellow: #ffe381;
$green: #dbfe87;
$ecru: #cec288;
$grey: #D2D2D2;
$blue: #1c448e;

$mainBlue: #029491;
$mainBlack: #000000;
$mainWhite: #ffffff;
$secondaryOrange: #ffb64f;
$secondaryBlue: #7CE3E1;
$secondaryPurple: #5970FF;
