@import "src/stylesheets/typography/module";
@import "src/stylesheets/layout/module";

.Authentication {
  @include container;
  display: grid;
  padding: 20px;
  grid-template-areas:
          "header form"
          "picture form";
}

.headerWrapper {
  grid-area: header;
}

.pictureWrapper {
  grid-area: picture;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  height: 100%;
  width: auto;
}

.Authentication__FormCard__wrapper {
  grid-area: form;
}

.Authentication__FormCard {
  position: relative;
  @include d-flex;
  flex-direction: column;
  max-width: 450px;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.Lock {
  position: absolute;
  top: -55px;
  left: -35px;
  width: 70px;
  height: auto;
}

.FormCard__tabs {
  @include d-flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}

.FormCard__tabs__tab {
  @include inter-400;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #C7C7C7;
  border-bottom: 2px solid #C7C7C7;
  cursor: pointer;

  &__active {
    @extend .FormCard__tabs__tab;
    color: var(--mainBlue, #029491);
    border-bottom: 2px solid var(--mainBlue, #029491);
  }
}

@media (max-width: 768px) {
  .Authentication__FormCard__wrapper {
    padding-top: 40px;
  }
  .Authentication {
    grid-template-areas:  "header"
                           "form"
                           "picture";
    gap: 20px;
  }

  .Authentication__FormCard {
    max-width: 100%;
  }

  .picture {
    width: 100%;
    height: auto;
  }

  .Lock {
    width: 50px;
    height: auto;
    top: -50px;
    left: 30px;
  }
}