@import "src/stylesheets/typography/module";

.CarouselItem {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
  padding: 20px;
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  img {
    height: 56px;
    width: auto;
  }
  p {
    @include text-regular;
    font-size: 18px;
    color: var(--mainBlack, #000000);
  }
}