@import "src/stylesheets/layout/colors";
@import "src/stylesheets/typography/module";
@import "src/stylesheets/layout/module";
@import "src/stylesheets/typography/fonts";

.Footer {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 137px;
  padding: 20px;
  margin-top: 40px;
}

.Footer__wrapper {
  background-color: var(--mainBlue, #029491);
}

.Footer__logo {
  height: 100%;
  width: 150px;
  background-image: url("/img/png/logo-footer.png");
  background-size: cover;
  background-position: center;
}

.address__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  //padding: 30px 0;
  align-items: flex-end;
  @include text-normal;
  color: var(--mainWhite, #ffffff);
  text-align: right;
}